#register-form {
    display: flex;
    flex-direction: column;
}

#register-form-div {
    min-width: 250px;
    width: 30%;
}

.required-star {
    color: var(--primary);
}

.register-input {
    margin-bottom: 10px;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;

    transition: .5s;
}

.input-error {
    border-color: #f14949;
}

.register-input:focus {
    outline: none;
    border-color: var(--primary);
}

#register-options-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size:small;
}

#agree-div {
    display: flex;
    align-content: center;
}

#agree-input {
    margin-bottom: 0;
    margin-right: 5px;
}

#submit-input {
    margin-top: 5px;
}

#register-text {
    margin-top: 5px;
    font-size: small;
}

#strength-box {
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#strength-bar {
    height: 100%;
    width: 70%;
    background-color: gray;
    border-radius: 5px;
}

#strength-fill {
    background-color: #f14949;
    width: 15%;
    height: 100%;
    border-radius: 5px;
}

#strength-label {
    color: #f14949;
    margin-left: 5%;
}