#login-form {
    display: flex;
    flex-direction: column;
}

#login-form-div {
    min-width: 250px;
    width: 30%;
}

.required-star {
    color: var(--primary);
}

.login-input {
    margin-bottom: 10px;
    border-color: var(--);

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;

    transition: .5s;
}

.login-input:focus {
    outline: none;
    border-color: var(--primary);
}

#login-options-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size:small;
}

#remember-div {
    display: flex;
    align-content: center;
}

#remember-input {
    margin-bottom: 0;
    margin-right: 5px;
}

#forgot-text-div {
    /* font-size: small; */
    text-align: center;
}

#submit-input {
    margin-top: 5px;
}

#register-text {
    margin-top: 5px;
    font-size: small;
}

/* #username-container {
    display: flex;
}

#password-container {
    display: flex;
} */