#login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    /* border-radius: 5px; */
    margin-bottom: 10px;
    /* border-color: black; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.login-input:focus {
    outline: none;
    border-color: var(--primary);
}

/* #username-container {
    display: flex;
}

#password-container {
    display: flex;
} */