*{
    --strength-strong: #35600f;
    --strength-good: #52b355;
    --strength-moderate: #edba39;
    --strength-weak: var(--error);
    --strength-veryweak: #ac0000;
}

#strength-box {
    height: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#strength-bar {
    height: 100%;
    width: 60%;
    background-color: gray;
    border-radius: 5px;
}

#strength-fill {
    background-color: var(--strength-veryweak);
    transition: .5s;
    width: 15%;
    height: 100%;
    border-radius: 5px;
}

#strength-label {
    color: var(--strength-veryweak);
    margin-left: 5%;
    font-size: smaller;
    white-space: nowrap;
    width: 25%;
}